body {
    background-image: url(personprogramming.jpg);
}

div {
    color: pink;
    margin: 25px 50px 75px 100px;
}
h1 {
    color:turquoise;
margin: 25px 50px 75px 100px;
}
.bold-text {
font-weight:bold;
}

#the-heading {
color:red;

}